name: 'greg.sharpe.wales release'

on: 'push'
  # push:
  #   branches:
  #     - main

jobs:
  deploy:
    runs-on: ubuntu-18.04
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v2
        with:
          submodules: true  # Fetch Hugo themes (true OR recursive)
          fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod

      - name: 'Setup Hugo'
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: '0.75.1'

      - name: 'Build Hugo'
        id: build
        run: hugo --minify

      - name: 'Deploy to production bucket'
        uses: chrislennon/action-aws-cli@v1.1
      - run: aws s3 cp ./public s3://gregsharpewales-prod-s3-origin/ --recursive
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
